
.montserratfuente> {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .carrito{
    display: flex;
    max-height: 600px;
  }
  .contenedorCarrito {
    width: 80%;
    max-height: 600px;
    overflow: scroll;
    padding: 20px;
    flex:4
  }
  .img-carrito{
    display: flex;
    position: relative;
  }
  
  h1 {
    color: #333;
    text-align: start;
    position: relative;
  }
  .cart-items-container {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
  }
  .cart-item {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .item-price {
    color: #666;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-btn {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .remove-btn {
    background: #ff4136;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-summary {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; /* Alinea el resumen del carrito a la derecha */
    margin-top: 20px;
    width: 20%;
    flex:1;
    max-height: 600px;
}
  
.total {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px; /* Un poco de margen a la derecha para separar del borde */
}
  
  #checkout-btn {
    background: rgb(17, 96, 63);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #checkout-btn:hover {
    background: #0056b3;
  }
  .header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
.carritoContacto{
    display: flex;
    margin-right: 90px;
}
.info{
    display: flex;
    align-items: center;
    margin-left: 0 auto;
}
.info a{
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}
.icono-wpp{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;
    bottom: 20px;
    right: 20px;
    background-color:rgba(37, 211, 102, 1);
    color: white;
    border-radius: 50%;
    z-index: 1000;
}
.icono-wpp i{
    color: #000;
    cursor: pointer;

}
.icon-cart {
  position: absolute;
  right: 0%;
  width: 4.5em;
  padding: 0.5em;
  stroke: rgb(0, 0, 0);
  cursor: pointer;
}

.icono-menu img {
  width: 12em;
  position: relative;
}
.icono-menu :hover{
  cursor: pointer;
}

.menu-portada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
}

.menu-span {
  font-weight: bold;
  font-size: 13px;
  font-family: 'Lato';
  color: rgb(255, 255, 255);
}
.menu-item span:hover{
  background-color: #dbb708;
}
.menu-span:hover {
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s ease;
}


/* Contador de productos */

.count-products {
  position: absolute;
  background-color: black;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 10%;
  right: 0.5%;
}
.precio-oferta {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.7); /* Fondo rojo con opacidad */
  color: white;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
} 
.precio-descontado {
  font-size: 18px;
  font-weight: bold;
  color: #e74c3c; /* Color rojo para el precio con descuento */
  margin-top: 10px;
}
.precio-original {
  text-decoration: line-through;
  font-size: 16px;
  color: #888;
}
  
  /* footer */
footer{
    margin: 0 auto;
    font-family: sans-serif;
    text-transform: capitalize;
    background-color: #24262b;
    padding: 80px 0;
}


.container-footer{
max-width: 1200px;
margin: 0 auto;

}

.container-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links{
    width: 25%;
    padding: 0 15px;

}

.footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 2px solid rgb(17, 96, 63);
    padding-bottom:px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bbb;
    display: block;
    margin-bottom: 10px;
}

.social-links a{
    display: block;
    min-height: 40px;
    width: 40px;
    background-color: #bbb;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}

  