* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: 'ubuntu';
    color: rgb(41, 41, 41);
    background-color: rgb(255, 255, 255);
}

.container-carrito {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: inherit

}

.container-cards {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex: 5;
    height: 450px;
    overflow: scroll;
}

.container-cards button {
    position: relative;
    border-radius: 50px;
    border: none;
    background: rgb(207, 2, 2);
    color: blanchedalmond;
    padding: 10px 10px ;
    cursor: pointer;
}

.container-finalizar-compra {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    height: 450px;
    flex: 1;
}

.container-finalizar-compra h4 {
    text-align: center;
    gap: 10px;
    margin: 10px;
}

.total {
    width: 100%;
    margin-top: auto;
}

.total h2 {
    margin-top: auto;
    margin-left: 5px;
}

.total button {
    background: rgb(17, 96, 63);
    color: blanchedalmond;
    padding: 15px 10px;
    cursor: pointer;
    border: none;
    width: 100%;
}

.card-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px;
    border-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px 0;
    height: auto; /* Ajuste dinámico según contenido */
    width: 100%;
    gap: 10px;
}

.card-carrito .left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1; /* Asegura que el contenedor izquierdo se ajuste */
}

.card-carrito img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.card-carrito input {
    width: 30px;
    font-size: 14px;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-carrito .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1; /* Asegura que el contenedor derecho se ajuste */
}

.card-carrito h2 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.price-finaly {
    font-size: 18px;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.btn-increment-decrement{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9px;
    left: 35px;
}

.btn-increment-decrement i{
    font-size: 11px;
    color: #666;
    cursor:pointer;
}